name: LTAC METAR Bot

on:
  schedule:
    # Yaklaşık 90 dakikada bir çalıştırır
    - cron: "0 */1 * * *"
  workflow_dispatch: # manuel run için

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Repo'yu çek
        uses: actions/checkout@v4

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Kütüphaneleri yükle
        run: pip install -r requirements.txt

      - name: METAR Botu Çalıştır
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_SECRET: ${{ secrets.API_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
        run: python metar_bot.py
